<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

  <nav>
    <% if(title == "Home"){ %> 
      <a class="currentLink" href="/">Home</a> |
    <% } else { %>
      <a href="/">Home</a> |
    <% } %>
    
    <% if(title == "Borrow"){ %> 
      <a class="currentLink" href="/borrow">Borrow</a> |
    <% } else { %>
      <a href="/borrow">Borrow</a> |
    <% } %>

    <% if(title == "Return"){ %> 
      <a class="currentLink" href="/return">Return</a> 
    <% } else { %>
      <a href="/return">Return</a> |
    <% } %>
    
    <form enctype="application/x-www-form-urlencoded" method="post" action="/logout" style="display:inline">
      <input type="submit" value="Logout"
        style="background:none;padding:0;border:none;color:#00B7FF;text-decoration:underline;cursor:pointer;font: 14px Lucida Grande, Helvetica, Arial, sans-serif;">
    </form>
  </nav>