<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

  <nav>
    <ul>
    <% if(title == "Home"){ %> 
    <li> <a class="currentLink" href="/">Home</a> </li>
    <% } else { %>
    <li> <a href="/">Home</a> </li>
    <% } %>
    
    <% if(title == "Borrow"){ %> 
    <li> <a class="currentLink" href="/borrow">Borrow</a> </li>
    <% } else { %>
    <li> <a href="/borrow">Borrow</a> </li>
    <% } %>

    <% if(title == "Return"){ %> 
    <li> <a class="currentLink" href="/return">Return</a> </li>
    <% } else { %>
    <li> <a href="/return">Return</a> </li>
    <% } %>

    <% if(req.user.admin){ %> 
      <% if(title == "Admin"){ %> 
      <li> <a class="currentLink" href="/admin">Admin</a> </li>
      <% } else { %>
      <li> <a href="/admin">Admin</a> </li>
      <% } %>
    <% } %>
    
   <li> <a href="/logout">Logout</a> </li>

      </ul>
  <hr>
  </nav>