<%- include('header.ejs') -%>

    <h1>Welcome!</h1>
    <form method="POST" action="/login">
        <div class="mb-3">
          <label for="inputUsername" class="form-label">Username</label>
          <input type="text" class="form-control" id="inputUsername" name="uname">
          <div id="emailHelp" class="form-text">(It's a good idea to use your full name here)</div>
        </div>
        <div class="mb-3">
          <label for="inputPassword" class="form-label">Password</label>
          <input type="password" class="form-control" id="inputPassword" name="pw">
          <div id="emailHelp" class="form-text">(Passwords are not stored verbatium in plain text)</div>
        </div>
        <div class="buttonContainer">
            <button type="submit" class="btn btn-primary">Login</button>
            <button type="submit" class="btn btn-success" formmethod="post" formaction="/register">Register</a>
        </div>
      </form>

      <%- include('footer.ejs') -%>

