<h1>Login Page</h1>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <form method="POST" action="/login">
        Enter Username:<br><input type="text" name="uname">
        <br>Enter Password:<br><input type="password" name="pw">
        <br><br><input type="submit" value="Submit">
    </form>
    <a href="/register">Register</a>
</body>
