body {
  padding: 0px;
  font: 14px Monospace, "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: honeydew;
  color: darkslategrey;

}

nav {
  font-family: Monospace, Copperplate, Papyrus, fantasy;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0.2em;
  /*border-bottom: dotted 2px darkslategray;
  border-top: dotted 2px darkslategray;*/
  text-align: center;
  background-color: aure;
}

li {
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
}


a {
  color: darkslategray;
  text-decoration: none;
  padding: 2px 12px;
  
}

.currentLink {
  /* border: 3px solid darkslategrey;
  border-radius: 5px; */
  color: mediumaquamarine;
}

h3,
h2 {
  text-align: center;
}

table {
  /*font-family: arial, sans-serif;*/
  border-collapse: collapse;
  width: 100%;
  border-radius: 6px;
  /* margin-left: 15px;
  margin-right: 15px; */

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: azure;
}
tr:nth-child(odd) {
  background-color: mintcream;
}
tr:first-child {
  background-color: mediumaquamarine;
}

button[type=submit]{
  font-family: Monospace;
  background-color: honeydew;
  border-radius: 5px;
  font-size: 20px;
  color: darkslategrey;
  border-color:darkslategrey;
}

input[type=checkbox]{
  background-color: firebrick;
}

.buttonContainer {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

hr {
  border-top: 30px #dddddd;
}
